<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}" type="text/css">
</head>

<body class="bg">

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg m-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Учёт ДС
    </button>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl">
        <div class="modal-content" style="background-color: rgba(0, 0, 0, 0.3);">

          <div class="modal-header">
            <h1 class="modal-title text-center" style="margin: auto" id="exampleModalLabel">Финансовый учет компаний</h1>
            <button type="button" style="margin: 0" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body container">
            <form action="{% url 'feedback' %}" method="POST" data-popup="application">
                {% csrf_token %}

                <div class="row mb-4">
                    <h5 class="center">Дата транзакции</h5>
                    <div class="col">
                        <label for="date_transaction">Выбери дату транзакции</label>
                        <input class="form-control" type="date" id="date_transaction" name="dateTransaction"/>
                    </div>
                </div>


                <div class="row mb-4">
                    <h5 class="center">Направление бизнеса</h5>
                    <div class="col">
                        <label for="business">Выбери какой бизнес *</label>
                        <select id="business" name="business" data-type="formPayment" class="form-select select" aria-label="Default select example">
                            <option selected>Выберите одно из меню</option>
                            {% for business in businesses %}
                                <option label="{{ business.name }}" value="{{ business.name }}">{{ business.pk }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col">
                        <label for="accounting_date">Дата учета</label>
                        <input class="form-control" type="date" id="accounting_date" name="accountingDate"/>
                    </div>
                </div>


                <div class="row mb-4">
                    <h5 class="center">Финансовые данные</h5>
                    <div class="col">
                        <label for="formPayment">Форма оплаты *</label>
                        <select id="formPayment" name="formPayment" data-type="legalEntity" class="form-select select" aria-label="Default select example">
                            <option selected>Выберите одно из меню</option>
                        </select>
                    </div>

                    <div class="col">
                        <label for="amount">Сумма</label>
                        <input class="form-control" placeholder="Введите сумму" type="number" id="amount" name="amount"/>
                    </div>

                    <div class="col">
                        <label for="legalEntity">Юр. лицо *</label>
                        <select id="legalEntity" name="legalEntity" data-type="rc" class="form-select select" aria-label="Default select example">
                            <option selected>Выберите одно из меню</option>
                        </select>
                    </div>
                </div>


                <div class="row mb-4">
                    <div class="col">
                        <label for="incomingOutgoing">Приход / Расход *</label>
                        <select id="incomingOutgoing" name="incomingOutgoing" class="form-select" aria-label="Default select example">
                            <option selected>Выберите одно из меню</option>
                        </select>
                    </div>

                    <div class="col">
                        <label for="base">Назначение платежа</label>
                        <input class="form-control" placeholder="Введите назначение платежа"
                               type="text" id="base" name="base"/>
                    </div>

                    <div class="col">
                        <label for="rc">Р/с *</label>
                        <select id="rc" name="rc" data-type="end" class="form-select select" aria-label="Default select example">
                            <option selected>Выберите одно из меню</option>
                        </select>
                    </div>
                </div>


                <div class="row mb-4">
                    <h5 class="center">Учетные данные</h5>
                    <div class="col">
                        <label for="view">Вид *</label>
                        <select id="view" name="view" class="form-select" aria-label="Default select example">
                            <option selected>Выберите одно из меню</option>
                        </select>
                    </div>

                    <div class="col">
                        <label for="contractor">Контрагент *</label>
                        <select id="contractor" name="contractor" class="form-select" aria-label="Default select example">
                            <option selected>Выберите одно из меню</option>
                        </select>
                    </div>

                    <div class="col">
                        <label for="client">Клиент</label>
                        <select id="client" name="client" class="form-select" aria-label="Default select example">
                            <option selected>Выберите одно из меню</option>
                        </select>
                    </div>
                </div>


                <div class="row mb-4">
                    <div class="col">
                        <label for="source">Источник *</label>
                        <select id="source" name="source" class="form-select" aria-label="Default select example">
                            <option selected>Выберите одно из меню</option>
                        </select>
                    </div>

                    <div class="col">
                        <label for="article">Статья *</label>
                        <select id="article" name="article" class="form-select" aria-label="Default select example">
                            <option selected>Выберите одно из меню</option>
                        </select>
                    </div>

                    <div class="col">
                        <label for="contractNumber">Номер договора</label>
                        <select id="contractNumber" name="contractNumber" class="form-select" aria-label="Default select example">
                            <option selected>Выберите одно из меню</option>
                        </select>
                    </div>
                </div>


                <div class="row mb-4">
                    <div class="col">
                        <label for="group">Группа *</label>
                        <select id="group" name="group" class="form-select" aria-label="Default select example">
                            <option selected>Выберите одно из меню</option>
                        </select>
                    </div>

                    <div class="col">
                        <label for="additionalParams">Доп параметры *</label>
                        <select id="additionalParams" name="additionalParams" class="form-select" aria-label="Default select example">
                            <option selected>Выберите одно из меню</option>
                        </select>
                    </div>

                    <div class="col">
                        <label for="fromClient">Откуда клиент</label>
                        <select id="fromClient" name="fromClient" class="form-select" aria-label="Default select example">
                            <option selected>Выберите одно из меню</option>
                        </select>
                    </div>
                </div>

                <div class="send modal-footer">
                     <div class="d-grid gap-2 col-4 mx-auto">
                        <a id="submitFormBtn" class="btn">
                          <span></span>
                          <span></span>
                          <span></span>
                          <span></span>
                          Записаться
                        </a>
                     </div>
                </div>


            </form>
          </div>


        </div>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="{% static 'main/js/index.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/js/bootstrap.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>